.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .error-image {
    width: 400px;
    height: auto;
  }
  
  .error-message {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
  }